table {
    border: 1px inset black;
    border-collapse: collapse;
}
table th, td {
    border: 1px solid darkgrey;
    padding: 10px;
}
table th {
    font-weight: bold;
    background-color: lightgray;
}

table.tableList {
    margin: 5px;
}
table.tableList tr {
    background-color: palegreen;
}
table.tableList tr.over-calories {
    background-color: #FF9999;
}
table.tableList td.number {
    text-align: right;
}

table.tableCard {
    border: 0px;
}
table.tableCard th, td {
    border: 0px;
/*    border-bottom: 1px inset lightgray; */
    padding: 5px;
}
table.tableCard td:first-child {
    font-weight: bold;
    font-style: italic;
    padding-right: 50px;
}

.hidden {
    display: none;
    color: lightgray;
}